@import "./style/utils";

.SassComponent {
  display: flex;
  .box{
    background-color: red;
    cursor: pointer;
    transition: all .3s ease-in;
    &.red {
      // .red 클래스가 .box와 함께 사용되었을 때
      background: $red;
      @include square(1);
    }
    &.orange {
      background: $orange;
      @include square(2);
    }
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    &.green {
      background: $green;
      @include square(4);
    }
    &.blue {
      background: $blue;
      @include square(5);
    }
    &.violet {
      background: $violet;
      @include square(6);
    }
    &:hover {
      // .box에 마우
      background: black;
    }
  }
}



